.card {
    position: relative;
    border: 0px solid !important;
    background: #050505 !important;
}


.curve {
    width: 20%;
}


h1 {
    margin: 0px;
    background: #050505;
    color: #fff !important;
    
}


.cbody {
    padding: 0px 0px 0px 0px;
     position: absolute;
     z-index: 1;
     
}


.conatiner {
    background: #050505;
    padding: 120px;
}

.rounded-corner {
    border-radius: 20px;
}